# Ignore evaluation
data/evaluation/*
!data/evaluation/.gitkeep

# Ignore generated page images
data/page_images/*
!data/page_images/.gitkeep

# Python
__pycache__/
*.pyc

# Environment
.env
.venv/

# macOS, discard and remove this if see
.DS_Store