# Ignore chunked docs
data/chunked_documents/*
!data/chunked_documents/.gitkeep

# Ignore embeddings
data/embeddings/*
!data/embeddings/.gitkeep

# Ignore evaluation
data/evaluation/*
!data/evaluation/.gitkeep

# Ignore extracted cleaned text
data/extracted_text/cleaned/*
!data/extracted_text/cleaned/.gitkeep

# Ignore extracted raw text
data/extracted_text/raw/*
!data/extracted_text/raw/.gitkeep

# Ignore generated page images
data/page_images/*
!data/page_images/.gitkeep

# Ignore vector DB
vector_db/*
!vector_db/.gitkeep

# Python
__pycache__/
*.pyc

# Environment
.env
.venv/

# macOS, discard and remove this if see
.DS_Store