# Ignore evaluation
data/evaluation/*
!data/evaluation/.gitkeep

# Ignore generated page images
data/page_images/*
!data/page_images/.gitkeep

# Ignore cleaned text
data/extracted_text/cleaned/*
!data/extracted_text/cleaned/.gitkeep

# Ignore chunked documents
data/chunked_documents/*
!data/chunked_documents/.gitkeep

# Ignore vector database
vector_db/*
!vector_db/.gitkeep

# Python
__pycache__/
*.pyc

# Environment
.env
.venv/

# macOS, discard and remove this if see
.DS_Store